[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "distilleR"]
	path = distilleR
	url = https://github.com/openefsa/distiller
[submodule "eppoFindeR"]
	path = eppoFindeR
	url = https://github.com/openefsa/eppofinder
